#form {
    display: none;
}

#btnCancel {
    display: none;
}

/* Transition */
.fade {
    opacity: 0;
    transition: opacity 0.8s;
}

.fade.in {
    opacity: 1;
}

#errorMsg {
    /* Bootstrap Danger */
    color: #dc3545; 
}

#successMsg {
    /* Bootstrap Success */
    color: #198754;
}